<% include ./partials/header.ejs %>
    <div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
        <div class="cards flex flex-wrap gap-10">
            <% posts.forEach(function(elem){ %>
                <div class="card w-32">
                    <div class="w-full h-40 bg-zinc-700 rounded-lg overflow-hidden">
                        <a href="/card/<%= elem.id %>"><img class="w-full h-full object-cover" src="<%= elem.image %>" alt="">                        </a>
                    </div>
                    <h5 class="mt-2 text-sm"><%= elem.title %></h5>
                    <% if(user.username === elem.user.username ){ %>
                        <a href="/profile">
                    <% }else{ %>  
                        <a href="/userprofile/<%= elem.user.username %>">
                    <% } %>
                    <h6 class="text-sm font-semibold opacity-50">@<%= elem.user.username %></h6></a>
                </div>
            <% }) %>
        </div>
    </div>
    <script>
        const userIds = document.querySelectorAll(".userID");
        userIds.forEach(userId => {
            console.log(userId.textContent);
        });
    </script>
<% include ./partials/footer.ejs %>