<% include ./partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/scroll.css">
<div class="w-full min-h-screen bg-zinc-900 text-white ">
    <hr class="opacity-30 w-full">
    <div class="profile pt-1">
        <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
        </form>
        <div class="profdets flex flex-col items-center mt-14">
            <div class="relative">
                <span id="uploadicon" class="w-8 h-8 absolute bottom-2 right-2 rounded-full flex items-center justify-center bg-zinc-200">
                    <i class="text-zinc-800 ri-edit-2-fill"></i>
                </span>
                <div class="w-40 h-40 bg-zinc-200 rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="<%= user.profileImage %>" alt="">
                </div>
            </div>
            <h1 class="text-3xl font-semibold mt-5"><%= user.name %></h1>
            <h3 class="text-lg mt-2">@<%= user.username %></h3>
            <div class="flex gap-12 text-lg mt-5">
                <div class="flex flex-col items-center justify-center">
                    <h3><%= user.followers.length %></h3>
                    <h4>Followers</h4>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <h3><%= user.following.length %></h3>
                    <h4>Following</h4>
                </div>
            </div>
            <a href="/edit" class="mt-3 px-7 py-3 bg-zinc-700 rounded-full text-xs font-semibold">Edit</a>
            <a href="/add" class="px-10 py-3 rounded-lg bg-red-700 text-xs font-semibold mt-6">Add New Post</a>
        </div>
        <div class="flex justify-center gap-10">
            <div class="cards flex flex-wrap gap-14 px-[72px] mt-10">
                <a href="/show/posts" class="card">
                    <div class="w-56 h-60 bg-zinc-700 overflow-hidden rounded-lg">
                        <img class="w-full h-full object-cover"
                            src="<%= user?.posts?.length > 0 ? user.posts[0].image : 'https://www.trroofingsheets.co.uk/wp-content/uploads/2016/05/default-no-image-1.png' %>" 
                            alt=" ">
                    </div>
                    <h3 class="text-xl font-semibold mt-3">Your Uploaded Pins</h3>
                    <h5 class="text-sm font-medium opacity-60"><%= user.posts.length %> Pins</h5>
                </a>
            </div>
            <div class="cards flex flex-wrap gap-14 px-[72px] mt-10">
                <a href="/saved/posts" class="card">
                    <div class="w-56 h-60 bg-zinc-700 overflow-hidden rounded-lg">
                        <img class="w-full h-full object-cover"
                            src="<%= userS?.saved?.length > 0 ? userS.saved[userS.saved.length - 1].image : 'https://www.trroofingsheets.co.uk/wp-content/uploads/2016/05/default-no-image-1.png' %>" 
                            alt=" ">
                    </div>
                    <h3 class="text-xl font-semibold mt-3">Saved Pins</h3>
                    <h5 class="text-sm font-medium opacity-60"><%= userS.saved.length %> Pins</h5>
                </a>
            </div>
        </div>
    </div>
</div>
    
    <script>
        document.querySelector("#uploadicon").addEventListener("click", function(){
            document.querySelector("#uploadform input").click();
        })

        document.querySelector("#uploadform input").addEventListener("change", function(){
            document.querySelector("#uploadform").submit();
        })
    </script>
<% include ./partials/footer.ejs %>